body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:104px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:104px;
}
#u686 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
}
#u687 {
  position:absolute;
  left:0px;
  top:612px;
  width:375px;
  height:55px;
}
#u688 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:0px;
  top:105px;
  width:375px;
  height:507px;
  overflow:hidden;
  touch-action:none;
}
#u689_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u689_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:84px;
}
#u691 {
  position:absolute;
  left:0px;
  top:231px;
  width:92px;
  height:84px;
}
#u692 {
  position:absolute;
  left:2px;
  top:34px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:84px;
}
#u693 {
  position:absolute;
  left:92px;
  top:231px;
  width:96px;
  height:84px;
}
#u694 {
  position:absolute;
  left:2px;
  top:34px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:84px;
}
#u695 {
  position:absolute;
  left:188px;
  top:231px;
  width:91px;
  height:84px;
}
#u696 {
  position:absolute;
  left:2px;
  top:34px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:84px;
}
#u697 {
  position:absolute;
  left:279px;
  top:231px;
  width:96px;
  height:84px;
}
#u698 {
  position:absolute;
  left:2px;
  top:34px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:332px;
}
#u699 {
  position:absolute;
  left:0px;
  top:315px;
  width:375px;
  height:332px;
}
#u700 {
  position:absolute;
  left:2px;
  top:158px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:231px;
  overflow:hidden;
  touch-action:pan-y;
}
#u701_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u701_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:224px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:224px;
}
#u703 {
  position:absolute;
  left:2px;
  top:104px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u701_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
}
#u705 {
  position:absolute;
  left:2px;
  top:106px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u701_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
}
#u707 {
  position:absolute;
  left:2px;
  top:106px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u701_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:230px;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:230px;
}
#u709 {
  position:absolute;
  left:2px;
  top:107px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710 {
  position:absolute;
  left:0px;
  top:61px;
  width:375px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u712 {
  position:absolute;
  left:0px;
  top:612px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u713 {
  position:absolute;
  left:75px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u714 {
  position:absolute;
  left:150px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u715 {
  position:absolute;
  left:225px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u716 {
  position:absolute;
  left:300px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u717 {
  position:absolute;
  left:3px;
  top:26px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
