body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:618px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u718 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u720 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:33px;
  background:inherit;
  background-color:rgba(72, 120, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u721 {
  position:absolute;
  left:109px;
  top:21px;
  width:157px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u722 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(72, 120, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u723 {
  position:absolute;
  left:1px;
  top:21px;
  width:99px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u724 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
  background:inherit;
  background-color:rgba(72, 120, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:321px;
  top:21px;
  width:51px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u728 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:33px;
  background:inherit;
  background-color:rgba(72, 120, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:109px;
  top:21px;
  width:168px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(72, 120, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u731 {
  position:absolute;
  left:1px;
  top:21px;
  width:99px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u732 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
  background:inherit;
  background-color:rgba(72, 120, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:321px;
  top:21px;
  width:51px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:46px;
}
#u735 {
  position:absolute;
  left:2px;
  top:620px;
  width:371px;
  height:46px;
}
#u736 {
  position:absolute;
  left:2px;
  top:15px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:86px;
  background:inherit;
  background-color:rgba(0, 155, 75, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u737 {
  position:absolute;
  left:399px;
  top:62px;
  width:219px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:10px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:1px;
  top:60px;
  width:372px;
  height:560px;
}
#u740 {
  position:absolute;
  left:2px;
  top:272px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:216px;
}
#u741 {
  position:absolute;
  left:28px;
  top:99px;
  width:319px;
  height:216px;
}
#u742 {
  position:absolute;
  left:2px;
  top:100px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u743 {
  position:absolute;
  left:115px;
  top:247px;
  width:224px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u744 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:3px;
  top:26px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
