body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u773 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774 {
  position:absolute;
  left:84px;
  top:64px;
  width:100px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u775 {
  position:absolute;
  left:184px;
  top:64px;
  width:100px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u777 {
  position:absolute;
  left:0px;
  top:612px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u778 {
  position:absolute;
  left:75px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u779 {
  position:absolute;
  left:150px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u780 {
  position:absolute;
  left:225px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u781 {
  position:absolute;
  left:300px;
  top:613px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u782 {
  position:absolute;
  left:3px;
  top:26px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
