body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u808 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809 {
  position:absolute;
  left:0px;
  top:67px;
  width:82px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:263px;
}
#u810 {
  position:absolute;
  left:0px;
  top:404px;
  width:375px;
  height:263px;
}
#u811 {
  position:absolute;
  left:2px;
  top:124px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:275px;
  top:404px;
  width:100px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:113px;
  background:inherit;
  background-color:rgba(0, 155, 75, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u813 {
  position:absolute;
  left:434px;
  top:37px;
  width:316px;
  height:113px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u814 {
  position:absolute;
  left:10px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u815 {
  position:absolute;
  left:3px;
  top:26px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
